
@font-face {
   font-family: rubicBold;
   /*
   src: url(../font/Rubik-Bold.ttf);
   */
}
@font-face {
   font-family: rubicBlack;
   /*
   src: url(../font/Rubik-Black.ttf);
   */
}
@font-face {
   font-family: rubicRegular;
/*   src: url(../font/Rubik-Regular.ttf);*/
}

.background {
   -fx-font-family: rubicBold;
/*   -fx-background-image:  url("../image/icons/png/background.png");*/
/*   -fx-background-image:  url("../image/icons/png/otherWave_blur.png");*/
/*   -fx-background-image:  url("../image/icons/png/otherWave_blur_defoultSize.png");*/
   -fx-background-repeat: no-repeat;
   -fx-background-color: #344E6C;
}
.menu-bar {
   -fx-font-family: rubicBold;
   -fx-font-size: 10px;
   -fx-font-weight: bold;
   -fx-background-color: #456990;
   /*-fx-background-color: linear-gradient(from 0px 0px to 0px 50px, rgba(35,69,105,1) 0%, rgba(69,105,144,1) 100%); */
   -fx-border-radius: 20px;
   -fx-background-radius: 20px;
   -fx-border-width: 2;
   -fx-border-style: none none none none;
   -fx-focus-color: white;
}
.menu-bar .label {
   -fx-text-fill: white;
}
.menu:hover {
   -fx-background-color: #567ca0;
   -fx-border-radius: 20px;
   -fx-background-radius: 20px;
}
.context-menu {
   -fx-font-weight: bold;
   -fx-background-color: rgba(237, 237, 237, 0.16);
}
.context-menu:hover > .menu-item:focused{
   -fx-background-color: rgba(237, 237, 237, 0.16);
}
.menu-item:focused {
   -fx-background-color: rgba(237, 237, 237, 0.33);
}

.table-view {
   -fx-background-color: #EDEDED;
   -fx-border-color: #456990;
}
.table-view .column-header {
   -fx-background-color: #456990;
}
.table-view .column-header .label {
   -fx-font-family: rubicBlack;
   -fx-text-fill: white;
}
.table-view .table-cell{
   -fx-font-family: rubicRegular;
   -fx-border-color: transparent;
   -fx-padding: 2 0 2 10px;
}
.table-row-cell:hover {
   -fx-background-color: #EDEDED;
   -fx-text-background-color: #456990;
}
.table-row-cell:odd{
   -fx-background-color: #EDEDED;
   -fx-background-insets: 0, 0 0 1 0;
   -fx-padding: 0.0em;
}
.table-row-cell:even{
   -fx-background-color: #EDEDED;
   -fx-background-insets: 0, 0 0 1 0;
   -fx-padding: 0.0em;
}
.table-view .virtual-flow .scroll-bar:vertical,
.table-view .virtual-flow .scroll-bar:vertical .track,
.table-view .virtual-flow .scroll-bar:vertical .track-background,
.table-view .virtual-flow .scroll-bar:horizontal,
.table-view .virtual-flow .scroll-bar:horizontal .track,
.table-view .virtual-flow .scroll-bar:horizontal .track-background {
   -fx-background-color: transparent;
}
.table-view .virtual-flow .scroll-bar .increment-button,
.table-view .virtual-flow .scroll-bar .decrement-button {
   -fx-opacity: 0;
   -fx-padding: 2;
}


.button-bar .button {
   -fx-text-fill:   #456990;;
   -fx-padding: 0 10 0 10;
   -fx-effect: dropshadow( gaussian , rgba(237, 237, 237, 0.55), 11, 0,0,1 );
   -fx-font-size: 10px;
   -fx-font-family: rubicBold;
   -fx-font-weight: bold;

   -fx-border-radius: 20px;
   -fx-background-radius: 20px;
   -fx-border-width: 2;
   -fx-border-style: none none none none;
}
.button-bar .button:hover {
   -fx-background-color: #d0d0d0;
}
.button-bar .button:pressed {
   -fx-padding: 3 0 5 0;
}